jmimemagic.log
.exitcode
node_modules
.vscode
package-lock.json

server/server-luceedocslocalserver.json
server-luceedocsbuilder.json
.commandbox
server/performance.log
/commandbox-luceedocslocalserver
