* {
	font-family : 'Muli', sans-serif;
	color       : #333;
}

html {
	overflow-y : scroll;
}

body, html {
	height           : 100%;
	font-size        : 15px;
}

.main {
	float       : left;
	width       : 80%;
	height      : 100%;
	position    : relative;
	max-width   : 850px;
}

	.body {
		background-color : #fff;
		margin           : 55px;
		padding          : 0 25px;
	}

	h2 {
		border-bottom  : 1px solid #dfdfdf;
		padding-bottom : 0.2em;
		font-size      : 150%;
		margin-bottom  : 0.8em;
	}

	.light {
		color : #999;
		font-weight: normal;
	}

	.breadcrumb {
		background-color : transparent;
		padding          : 0;
		font-size        : 85%;
	}

	.breadcrumb > li + li::before {
	    content   : "> ";
	    font-size : 85%;
	    padding   : 0 2px;
	}

	.dl-horizontal dt,
	.dl-horizontal dd {
		margin-bottom : 2px;
	}

.navigation {
	background       : none repeat scroll 0% 0% #FAFAFA;
	border-right     : 1px solid #dfdfdf;
	height           : 100%;
	max-width        : 300px;
	width            : 20%;
	float            : left;
	color            : #364149;
}

.navigation-container {
	margin-top : 47px;
}

	.navigation .sidebar-nav {
		margin-left  : 20px;
		list-style   : none;
		padding-left : 0;
	}

		.navigation .sidebar-nav > li {
			padding   : 8px 12px;
			font-size : 105%;
		}

			.navigation .sidebar-nav > li > a {
				color : #666;
			}

				.navigation .sidebar-nav > li > ol > li > a {
					color : #999;
				}
		
		.navigation .sidebar-nav > .active {
			background-color       : #FFF;
			position               : relative;
			right                  : -1px;
			border                 : 1px solid #dfdfdf;
			border-right           : none;
			border-top-left-radius : 5px;
			text-indent            : -2px;
			padding-top            : 7px;
			padding-bottom         : 7px;
		}

			.navigation .sidebar-nav > li .active a {
				color : #333;
			}

		.navigation .sidebar-nav ol {
			list-style : none;
			padding-left : 1.5em;
			padding-top  : 5px;
		}

	.prev-next-container .nav-link {
		position: absolute;
		top: 50px;
		bottom: 0px;
		margin: 0px;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		font-size: 300%;
		color: #CCC;
		text-align: center;
		transition: all 350ms ease 0s;
	}

		.prev-next-container .nav-link:hover {
			color : #999;
		}

	.prev-next-container .prev {
		left : 0;
	}
	.prev-next-container .next {
		right : 0;
	}
}