# This is a basic workflow to help you get started with Actions

name: Lucee Docs Builder
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  # This workflow contains a single job called "build"
  build:
    if: github.repository == 'lucee/lucee-docs'
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '21'
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: lucee-script-runner-m2-cache
      - name: Cache Lucee files
        uses: actions/cache@v4
        with:
          path: _actions/lucee/script-runner/main/lucee-download-cache
          key: lucee-downloads-${{ env.luceeVersion }}
          restore-keys: |
            lucee-downloads
      # Runs a single command using the runners shell
      - name: Build Lucee Docs
        uses: lucee/script-runner@main
        with:
          webroot: ${{ github.workspace }}
          execute: /build-all.cfm
          luceeVersion: 7.0.0.373-SNAPSHOT
          # redis, chart, lucene, form. ajax, chart, argon2, websocket, ec2, json
          extensions: 60772C12-F179-D555-8E2CD2B4F7428718;version=3.0.0.54-SNAPSHOT,D46B46A9-A0E3-44E1-D972A04AC3A8DC10,EFDEB172-F52E-4D84-9CD1A1F561B3DFC8,FAD67145-E3AE-30F8-1C11A6CCF544F0B7,6E2CB28F-98FB-4B51-B6BE6C64ADF35473,DF28D0A4-6748-44B9-A2FDC12E4E2E4D38,7891D723-8F78-45F5-B7E333A22F8467CA,07082C66-510A-4F0B-B5E63814E2FDF7BE,261114AC-7372-4CA8-BA7090895E01682D,A03F4335-BDEF-44DE-946FB16C47802F96,3F9DFF32-B555-449D-B0EB5DB723044045
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: lucee-docs
          path: builds/artifacts/lucee-docs.zip
      - name: Publish to S3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master'}}
        uses: docker://justinharringa/s3_website:master
        with:
          args: 'push --site builds/artifacts'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
          AWS_CLOUDFRONT_DISTRIBUTION: ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION }}
      # - name: Notify slack
      #   uses: 8398a7/action-slack@v4.9.1
      #   with:
      #     status: ${{ job.status }}
      #     author_name: GitHub Actions # default: 8398a7@action-slack
      #     fields: repo,commit,message,author # default: repo,commit
      #     mention: here
      #     if_mention: failure,cancelled
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
      #   if: always() # Pick up events even if the job fails or is canceled.
